footer {
  font-size: var(--body-font-size-xs);
  background: #b9c9d0;
}

footer .footer>div {
  margin: 0;
  padding: 40px 0 24px;
}

footer .footer p {
  margin: 1rem;
  color: #515451;
}

@media (width>=900px) {
  footer .footer>div {
    padding: 40px 0 24px;
  }
}